# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
Final-Resume-Screening-App (1).env
# dotenv environment variables
.env

# Node
node_modules/
frontend/node_modules/

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/ 