fastapi
uvicorn[standard]
python-multipart
pdfplumber
python-docx
python-dotenv
motor
passlib[bcrypt]
PyJWT
openai
pydantic[email]
docx2txt
Pillow
pdf2image
pymongo
mammoth
beautifulsoup4
lxml
docx2pdf