fastapi
uvicorn
motor
pymongo
python-dotenv
openai
pdfplumber
pdf2image
passlib[bcrypt]
argon2-cffi
python-multipart
beautifulsoup4
docx2txt
python-docx
mammoth
Pillow
lxml
PyJWT
pydantic
email-validator
cryptography
docx2pdf